**/.terraform*
**/.terraform.lock.hcl
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/terraform.tfstate.backup
**/terraform.tfstate
**/*-openrc.sh
**/*.ssh
**/*.tfstate
**/*.backup
app1/software/*
auth/**
**/cookies.txt
2.build_supporting_infra/appinfo/*
