**/.terraform*
**/.terraform.lock.hcl
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/terraform.tfstate.backup
**/terraform.tfstate
**/*-openrc.sh
**/*.ssh
**/*.tfstate
**/*.backup
builder/resource-firewallsecuritygroups.tf
app1/software/*