resource "local_sensitive_file" "builder_k8s_config" {
  filename        = "builder-cluster/config"
  content         = openstack_containerinfra_cluster_v1.cluster_1.kubeconfig.raw_config
  file_permission = "0600"
}