locals {
  ssh_key = <<-EOT
    ${openstack_compute_keypair_v2.keypair.private_key}
  EOT
}


resource "local_file" "output-ssh-key" {
  filename        = "./builder.ssh"
  content         = local.ssh_key
  file_permission = "0600"
}


output "ssh_message" {
  value = "Your ssh key to access ${var.domain} builder machines via ssh is contained in builder.ssh. Usage: ssh -i builder.ssh <user>@<host>"
}